<style>
    /* Not scheme specific, but for light and dark schemes */
    #contact > div.responsive-grid.outer > div.row-bc.responsive-grid.inner > div.col.col-c > ul > h1 { font-size: 1.5rem !important; }
    #contact > div.mx-auto.max-w-2xl > div > p { margin-bottom: 1rem;}
    /* light scheme */
    #top > div.relative.isolate.px-6.pt-14.lg\:px-8 > div > div > p { color: #c2c2c2 !important; }
    #solutions > div:nth-child(2) > div > div > p { color: #000000 !important; }
    #vision p.mt-6 { color: #10006d !important; }
    /* dark scheme */
    .dark #solutions > div:nth-child(2) > div > div > p { color: #ffffff !important; }
    .dark #vision p.mt-6 { color: #d602cc !important; }
</style>
